/*Comment in CSS*/
/*font-family: 'Edu NSW ACT Foundation', cursive;*/
*{
    margin: 0; padding: 0;  box-sizing: border-box;
}

header{
    width: 100%; height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('../images/bgc2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

nav
{
    height: 10vh;
    display:flow-root;
    justify-content:space-between;
    align-items: center;
}
/*
#nav01
{
    background: rgba(0,0,0,0.2);
}
*/

nav .navbar-brand
{
    font-family: 'Kaushan Script', cursive;
    letter-spacing: 1px;
}

nav .container-fluid
{
    text-align: center;
}

main
{
    width: 100%;
    height: 90vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

section
{

}

section a
{
    padding: 12px 30px;
    border-radius: 4px;
    outline: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
}

section .btnone
{
    color: #fff;
    background-color: #00b894;
}

.btnone:hover
{
    background-color: #fff;
    color: #000;    
}

section .btntwo
{
    color: #fff;
    background-color: #00b894;
}

.btntwo:hover
{
    background-color: #fff;
    color: #000;    
}

section h1
{
    font-size: 35px;
    font-weight: 200;
    text-shadow: 1px 1px 2px black;
    letter-spacing: 3px;
    font-family: 'Edu NSW ACT Foundation', cursive;
}

section h2
{
    font-size: 45px;
    font-weight: 700;
    text-shadow: 2px 1px 5xp black;
    text-transform: uppercase;
    margin: 30px 0px 30px 0px;
}

nav .logo-green
{
    color: #00c568;
}

/* .change_content:after
{
    content: "" ;
    animation: changetext 10s infinite none;
}

@keyframes changetext 
{
    100%{content: "Water Treatement Plant";}
    16%{content: "Sludge Settlement Tank";}
    33%{content: "Pump House";}
    50%{content: "Staff Quarter";}
    66%{content: "Water Storage Tank";}
    84%{content: "and Other Civil Construction buildings";}
} */
